* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* body, html {
    height: 100%;
    font-family: Arial, sans-serif;
  } */
  
  .container {
    /* width: 100%; */
    height: 100vh;
    /* text-align: center; */
    /* align-content: center; */
    
    display: grid;
    place-content: center;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    background-color: rgb(219, 231, 241);
    /* position: relative; */
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(241, 232, 232); */
  }
  div h1 {
    margin: 10px 0px;
    text-align: center;
    
  }
  
  #contactform {
    width: 400px;
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    background-color: white;
    padding: 35px;
    border-radius: 13px;
    box-shadow: 10px  5px 20px rgba((rgb(241, 241, 241)), rgb(248, 249, 248), rgb(243, 243, 245), 0.1);
    
    /* background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 300px; */
  }
  
  /* form input,
  form textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
  } */
 form input, 
 form textarea {
  width: 100%;
  padding: 15px;
  margin: 10px 0px;
  border-radius: 5px;
    border: 1px solid #ccc;
 }
 button {
  width: 100%;
  background-color: rgb(66, 66, 244);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 13px;
  cursor: pointer;
 }
  
  /* button {
    width: 100%;
    padding: 10px;
    background-color: rgb(37, 37, 247);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  } */
  
  button:hover {
    background-color: rgb(84, 125, 236);
  }
  